{% extends "vimbiso/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6 col-sm-12">
                <img src="{% static 'images/cover1.jpg' %}" style="width:inherit;border:2px solid var(--red)">
            </div>
            <div class="col-lg-6 col-sm-12" style="background-color:var(--yellow);border:2px solid var(--red)">
                <h2 class="text-center p-3"><strong>Business Account Login</strong></h2>
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="login" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                    </div>
                    <div class="form-group text-center"> <button type="submit" class="btn" style="background-color:var(--red);color:white">Login</button> </div>
                    <div class="form-group"> 
                        <small class="float-left text-dark" style="font-size: medium;">Don't have an account? <a class="text-danger" href="{%url 'account_signup'%}">Register</a></small>
                        <a class="text-dark float-right" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
