{% extends "vimbiso/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="row d-flex justify-content-center mb-5">
            <h2 class="col-12 text-center p-3 metallic-red"><strong>Password Reset</strong></h2>
            <div class="col-lg-6 col-sm-12 p-3 m-3" style="border:2px solid var(--red);border-radius:10px">
                <div class="form-group d-flex justify-content-center p-3">
                    <div class="image-circle">
                        <img src="{% static 'images/logo-no-bg.png' %}" />
                    </div>
                </div>
                <div class="form-group text-center"> 
                    <p style="color:var(--red);font-weight:500">The password reset link was invalid, possibly because it has already been used.  Please request a <a style="color:var(--green)" href="{{ passwd_reset_url }}">new password reset</a>.</p>
                </div>
                <div class="form-group d-flex justify-content-center">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                </div>
            </div>
        </div>
        
    {% else %}
    {% if form %}
    <form method="POST" action="{{ action_url }}" class="row d-flex justify-content-center password_reset">
        {% csrf_token %}
        <h2 class="col-12 text-center p-3 metallic-red"><strong>Password Reset</strong></h2>
        <div class="col-lg-6 col-sm-12 p-5 m-3" style="border:2px solid var(--red);border-radius:10px">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="Enter password">
            </div>
            <div class="form-group d-flex justify-content-center">  
                <button type="submit" class="btn btn-blue btn-lg text-center">Reset Password</button>
            </div>
            <div class="form-group d-flex justify-content-center">          
                <a href="{% url 'account_login' %}" class="btn text-white btn-primary">Login</a>
            </div>
            <div class="form-group text-center"> 
                <span style="color:var(--green);font-weight:500">
                    <i>If you face trouble resetting your password, please contact our support</i></span>
                </div>
            </div> 
        </div>
    </form>
    {% endif %}
    {% endif %}

</div>
<script>
    '{% if messages %}'
        '{% for message in messages %}'
        console.log('{{ message }}');
        '{% endfor %}'
    '{% endif %}'
</script>
{% endblock %}




