{% extends "vimbiso/base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="row d-flex justify-content-center password_reset">
        {% csrf_token %}
        <h2 class="col-12 text-center p-3 metallic-red"><strong>Password Reset</strong></h2>
        <div class="col-lg-6 col-sm-12 p-5 m-3" style="border:2px solid var(--red);border-radius:10px">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter a valid email address">
            </div>
            <div class="form-group d-flex justify-content-center">  
                <button type="submit" class="btn btn-blue btn-lg text-center">Reset Password</button>
            </div>
            <div class="form-group d-flex justify-content-center">          
                <a href="{% url 'account_login' %}" class="btn text-white btn-primary">Login</a>
            </div>
            <div class="form-group text-center"> 
                <span style="color:var(--green);font-weight:500">We will send a verification code to your email address.
                    <br><i>If you face trouble resetting your password, please contact our support.</i></span>
                </div>
            </div>    
    </form>
</div>
<script>
    '{% if messages %}'
        '{% for message in messages %}'
        console.log('{{ message }}');
        '{% endfor %}'
    '{% endif %}'
</script>
{% endblock %}




