{% extends "vimbiso/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" action="{% url 'account_signup' %}" class="row d-flex justify-content-center">
        <h2 class="col-12 text-center p-3 metallic-red"><strong>Create Business Account</strong></h2>
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="col-lg-5 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter a valid email address">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Company Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter unique company name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="address" placeholder="Enter your company address">
            </div>
        </div>
        <div class="col-lg-5 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Company Contact</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="contact" placeholder="Enter company contact">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="Enter password">
            </div>
        </div>
        <div class="flex-row">
            <div class="form-group text-center">
                <button type="submit" class="btn metallic-red-bg text-center">Sign Up</button>
            </div>
            <div class="form-group">
                <small style="font-size: medium;">Already have an account? <a class="text-danger" href="{%url 'account_login'%}">Login</a></small> 
            </div>
        </div>
    </form>
</div>
    <script>
        '{% if form.errors %}'
            '{% for field in form %}'
                '{% for error in field.errors %}'
                    console.log('{{ error }}');
                '{% endfor %}'
            '{% endfor %}'
        '{% endif %}'
    </script>
{% endblock %}