@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

.comment-container {
  width: 60%;
  margin: 2rem auto;
}

.v-btn {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  height: 36px;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  margin: 6px 8px;
  min-width: 88px;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 16px;
}

.v-btn:before {
  border-radius: inherit;
  color: inherit;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.12;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}

.v-btn:focus,
.v-btn:hover {
  position: relative;
}

.v-btn:focus:before,
.v-btn:hover:before {
  background-color: currentColor;
}

.v-btn__content {
  align-items: center;
  border-radius: inherit;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  white-space: nowrap;
  width: inherit;
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
  will-change: box-shadow;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat):active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: -42px;
  border-radius: 50%;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.v-avatar img {
  border-radius: 50%;
  display: inline-flex;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.v-card {
  text-decoration: none;
}

.v-card > :first-child:not(.v-btn):not(.v-chip) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.v-card > :last-child:not(.v-btn):not(.v-chip) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.v-sheet {
  display: block;
  border-radius: 2px;
  position: relative;
}

.v-dialog__container {
  display: inline-block;
  vertical-align: middle;
}

.elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}


a:active,
a:hover {
  outline-width: 0;
}

button {
  font: inherit;
  overflow: visible;
  text-transform: none;
  background-color: transparent;
  border-style: none;
  color: inherit;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type="button"]::-moz-focus-inner,
button:-moz-focusring {
  outline: 0;
  border: 0;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

img {
  border-style: none;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

.headline {
  font-weight: 400;
  letter-spacing: normal !important;
  font-size: 24px !important;
  line-height: 32px !important;
}

.title {
  font-size: 20px !important;
  font-weight: 700;
  line-height: 1 !important;
  letter-spacing: 0.02em !important;
}

.caption {
  font-weight: 400;
  font-size: 16px !important;
}

.theme--light.v-btn {
  color: rgba(0, 0, 0, 0.87);
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #f5f5f5;
}

.theme--light .v-card {
  box-shadow: rgba(0, 0, 0, 0.11) 0 15px 30px 0px,
    rgba(0, 0, 0, 0.08) 0 5px 15px 0 !important;
}

.theme--light.application .v-card {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
  color: #102c3c !important;
}

.theme--light.v-card,
.theme--light.v-sheet {

  color: rgba(0, 0, 0, 0.87);
}

a,
a:hover {
  text-decoration: none !important;
}

.wrapper {
  overflow: auto;
}

.answers {
  padding-left: 64px;
}

.comment {
  overflow-y: auto;
  margin-left: 32px;
  margin-right: 16px;
}

.comment p {
  font-size: 18px;
  margin-bottom: 7px;
}

.displayName {
  margin-left: 24px;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.google-span[data-v-35838f51] {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.google-button[data-v-35838f51] {
  background-color: #fff;
  height: 40px;
  margin: 0;
}

.headline {
  margin-left: 32px;
}

.sign-in-wrapper {
  margin-top: 16px;
  margin-left: 32px;
}


.error-message {
  font-style: oblique;
  color: #c40030;
}

::-moz-selection,
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.card,
.card {
  padding: 11px 16px 0px 16px;
  display: flex;
  flex-direction: column;
}

.application a,
[type="button"],
button {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .comment-container {
    width: 90%;
  }
  .comments {
    padding: 32px;
  }
}

.left {
    position: absolute;
    top: 0;
    left: 35px;
    font-size: 18px
  }
  
  .left:after {
      border: 3px solid #2095FE;
      border-right: 3px solid transparent;
      border-top: 3px solid transparent;
      content: " ";
      height: 14px;
      left: -20px;
      position: absolute;
      top: 20px;
      -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
      width: 14px;
  }
  .right {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 18px
  }

  .messages-wrapper {
    padding-top: 10px;
    position: relative;
    border: 1px solid #ddd;
    border-top: 0 none;
  }
  .message {
      border-radius: 20px 20px 20px 20px;
      margin: 0 15px 10px;
      padding: 15px 20px;
      position: relative;
  }
  .message.to {
      background-color: #2095FE;
      color: #fff;
      margin-left: 80px;
  }
  .message.from {
    background-color: #fff;
    color: black;
    border: 2px solid black;  
    margin-right: 80px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -7px;
  }
  .message:before {
      bottom: 0;
      clip: rect(20px, 35px, 42px, 0px);
      content: " ";
      height: 40px;
      position: absolute;
      right: -50px;
      width: 30px;
      z-index: -1;
  }
  .message.from:before {
      border-color: #E5E4E9;
      left: -50px;
      transform: rotateY(180deg);
  }

  .response{
	color:#F5D21F;
}


element {

    width: 100%;

}
.progress-bar{
    background-color: #B30E16 !important;
}
