<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}{% endblock title %}
    
    <link rel="icon" type="image/png" src="{% static 'images/favicon-no-bg.png' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
    <link rel="stylesheet" href=" {% static 'css/notifications.css' %} ">
    <script src=" {% static 'js/notifications.var.js' %} " type="text/javascript"></script>
    {% block head %}{% endblock head %}
  </head>

  <body>
    <!-- Navbar -->
    {% include 'vimbiso/navbar.html' %}

    <!-- Content -->
    {% block content %}{% endblock content %}
    
    
        <script>
            '{% for message in messages %}'
            new AWN().success('{{message}}',{});
            '{% endfor %}'
        </script>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header metallic-red-bg">
                <div class="d-flex justify-content-center">
                    <h3 class="modal-title text-white text-center " id="exampleModalLongTitle">Give a review</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'vimbiso:addReview' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email or WhatsApp number</label>
                        <input type="text" class="form-control" name="contact" aria-describedby="emailHelp" placeholder="Enter Email or WhatsApp number" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Your name</label>
                        <input type="text" class="form-control" id="reveiwer-name" name="name" placeholder="Your name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Company name</label>
                        <select class="form-control" name="company">
                            <option value="">Select Company</option>
                            {% for i in company %}
                            <option value="{{i.id}}">{{i.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group d-flex flex-row">
                        <div class="col-6 p-0 pr-3">
                            <label for="exampleInputPassword1">Product or service purchased</label>
                            <input type="text" class="form-control" name="purchased-item" placeholder="Enter Product or service name" required>
                        </div>
                        <div class="col-6 ml-2">
                            <label for="exampleInputPassword1">Type of purchase</label>
                            <select class="form-control" name="type-of-purchase">
                                <option value="">Select purchase type</option>
                                <option value="service">Service</option>
                                <option value="product">Product</option>
                                <option value="location">Location</option>
                            </select>  
                        </div>                      
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Date of purchase</label>
                        <input type="date" class="form-control" name="date"  required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Branch location</label>
                        <input type="text" class="form-control" name="branch" placeholder="Enter branch location"  required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Your review</label>
                        <textarea type="text" class="form-control" name="review"  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ratings</label>
                        <input type="number" step="1" max="5" class="form-control" name="rating" placeholder="/5"  required>
                    </div>
                    <!-- <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.3 out of 5."> -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="Submit" class="btn bright-red-bg">Add Review</button>
            </div>
        </form>
            </div>
        </div>
    </div>
    <!-- Site footer -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>www.vimbiso.org</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>WhatsApp</h4>
                                <span>+447534182148</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>info@vimbiso.org</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'images/logo-no-bg-2.png' %}" class="img-fluid" alt="logo"></a>
                            </div>
                            {% comment %} <div class="footer-text">
                                <p></p>
                            </div>
                            <div class="footer-social-icon">
                                <span class="text-dark">Visit us</span>
                                <a href="www.moyo-beauty.com" class="text-dark">www.moyo-beauty.com</a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="{% url 'vimbiso:categories' %}">Categories</a></li>
                                <li><a href="{% url 'vimbiso:plans' %}">For Business</a></li>
                                <li><a href="accounts/login">Login</a></li>
                                <li>
                                    <button type="button" class="btn metallic-red-bg" data-toggle="modal" data-target="#exampleModalCenter">
                                        Give a review
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button class="m-0"><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, All Right Reserved Vimbiso</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        {% comment %} <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <script>
        let notifier = new AWN({});
      </script>
    {% block js %}{% endblock js %}
  </body>
</html>