{% extends 'vimbiso/home.html' %}
{% load static %}

{% block title %}
    <title>Vimbiso - Profile</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}"> 
{% endblock head %}

{% block content %}
<!-- Content -->
    <div class="container-fluid m-0 p-0">
        <div class="bg-white flex-row d-flex justify-content-center">
            <img class="border border-dark" src="{{c.profile.image.url}}" style="max-height: 149px;max-width: 198px;">
            <div class="flex-column pl-4">
                <h1>{{c.username}}</h1>
                {% for i in avg_ratings_range  %}
                <span class="fa fa-star checked text-warning"></span>
                {% endfor %}
                <p>Total Reviews: {{reviews|length}}</p>
                <p> Avg ratings: <strong>{{avg_ratings}}</strong></p>
                {% if c.subscription.is_active %}
                <p style="color:var(--green)"> <i class="fas fa-check-circle text-primary"></i> {{c.subscription.plan_type}}</p>
                <span>Ends at: <strong>{{c.subscription.period_end}}</strong></span>
                {% endif %}
            </div>
        </div>
        
        <div class="d-flex">
            <div class="flex-column col-8">
                <div class="theme--light p-5">
                    <div class="comments">
                        <div class=" text-center m-5" ><h2><strong>Reviews Chart</strong></h2>
                            <!---->
                            </div>
                        <div class="card v-card v-sheet theme--light elevation-2 text-center pt-2" >
                        
                        <div class="flex-row m-2">
                            <span class="" style="font-size:16px">Excellent </span>
                            <div class="progress w-75 float-right">
                                <div class="bright-green-bg" role="progressbar" aria-valuenow="{{excellent}}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio excellent total_reviews 100 %}%">
                                {{excellent}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-row m-2">
                            <span class="" style="font-size:16px">Great</span>
                            <div class="progress w-75 float-right">
                                <div class="bright-green-bg" role="progressbar" aria-valuenow="{{good}}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio good total_reviews 100 %}%">
                                {{good}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-row m-2">
                            <span class="" style="font-size:16px">Average</span>
                            <div class="progress w-75 float-right">
                                <div class="bright-yellow-bg" role="progressbar" aria-valuenow="{{average}}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio average total_reviews 100 %}%">
                                {{average}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-row m-2">
                            <span class="" style="font-size:16px">Poor</span>
                            <div class="progress w-75 float-right">
                                <div class="bright-red-bg" role="progressbar" aria-valuenow="{{poor}}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio poor total_reviews 100 %}%">
                                {{poor}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-row m-2">
                            <span class="" style="font-size:16px">Bad</span>
                            <div class="progress w-75 float-right">
                                <div class="bright-red-bg" role="progressbar" aria-valuenow="{{bad}}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio bad total_reviews 100 %}%">
                                {{bad}}
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class=" text-center m-5" ><h2><strong>Recent Reviews</strong></h2>
                        <!---->
                        </div>
                        {% for r in reviews %}
                        <div>
                            {% if r.ratings > 4 %}
                                <div  class="card v-card v-sheet theme--light elevation-2 review-good">
                            {% elif r.ratings < 4 and r.ratings > 2.5 %}
                                <div  class="card v-card v-sheet theme--light elevation-2 review-medium">
                            {% else %}
                                <div  class="card v-card v-sheet theme--light elevation-2 review-bad">
                            {% endif %}
                            
                                <div  class="header">
                                <div  class="v-avatar avatar" style="height: 50px; width: 50px;"><img  src="https://www.kindpng.com/picc/m/269-2697881_computer-icons-user-clip-art-transparent-png-icon.png">
                                </div>
                                <span  class="displayName title metallic-red">{{r.name}}</span> <span  class="displayName caption">{{r.date_of_purchase}}</span> &nbsp<span><i class="fas fa-map-marker-alt"></i> {{r.branch_location}}</span>
                                <div class="pull-right" style="padding-top:10px">
                                    {% if r.ratings > 4 %}
                                        {% for i in r.get_ratings %}
                                            <span class="fa fa-star metallic-green"></span>
                                        {% endfor %}
                                    {% elif r.ratings < 4 and r.ratings > 2.5 %}
                                        {% for i in r.get_ratings %}
                                            <span class="fa fa-star metallic-yellow"></span>
                                        {% endfor %}
                                    {% else %}
                                        {% for i in r.get_ratings %}
                                            <span class="fa fa-star metallic-red"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                
                                <br>
                                </div>
                                <!---->
                                <div  class="wrapper comment">
                                <p>{{r.review}}</p>
                                </div>
                                
                                <div  class="v-dialog__container" style="display: block;"></div>
                            </div>
                            <!---->
                            {% if r.response %}
                            
                            <div  class="answers mb-5">
                                <i class="fas fa-sort-down fa-2x"></i>
                                <div class="message from"><span class="response"><strong style="text-transform: uppercase;">{{r.company.username}}: </strong></span>  {{r.response}}</div>
                            </div>
                            {% else %}
                                {% if request.user.subscription.is_active %}
                                <div  class="answers mb-5">
                                    <i class="fas fa-sort-down fa-2x"></i>
                                    <button type="button" class="btn mt-5" onclick="respond('{{r.id}}')" style="margin-top: 20px;background:linear-gradient(to right, #cb2d3e, #ef473a);color:white" data-toggle="modal" data-target="#responseModal">
                                        Respond to review
                                    </button>
                                </div>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </div>
            <div class="flex-column col-4 pt-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{c.profile.image.url}}" alt="Card image cap" style="max-height:350px">
                    <div class="card-body">
                        <h5 class="card-title metallic-red text-center">About us</h5>
                        <p class="card-text">
                            {{c.profile.description}}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-map-marker-alt metallic-red"></i> {{c.address}}</li>
                        <li class="list-group-item"><i class="fas fa-phone-square metallic-red"></i> {{c.contact}}</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header metallic-red-bg">
                <div class="d-flex justify-content-center">
                    <h3 class="modal-title text-white text-center " id="exampleModalLongTitle">Give a review</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="respond-form" method="POST">
                    {% csrf_token %}
                    <input type="number" id="review-id" name="review-id" hidden>
                    <div class="form-group d-flex flex-row">
                        <div class="col-12 p-0 pr-3">
                            <label for="exampleInputPassword1">Give a Response</label>
                            <textarea id="response" type="text" class="form-control" name="response" required></textarea>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="Submit" class="btn bright-red-bg">Add Review</button>
            </div>
        </form>
            </div>
        </div>
    </div>

<script>
    function respond(id){
        if (id){
            $('#review-id').val(id);
            console.log($('#review-id').val());
        }
    };
    
    $("#respond-form").on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/response/",
            data:{
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                  id:$("#review-id").val(),
                  response:$("#response").val(),
            },
            success: function(data) {
              if (data['success']){
                alert(data['msg'])
              }
                
            }
        }); 
    });
</script>
{% endblock content %}