{% extends 'vimbiso/base.html' %}
{% load static %}

{% block title %}
<title>Vimbiso - Categories </title>
{% endblock title %}

{% block content %}
<style>
.body{
    background-color:#f2f2f5 !important;
}
</style>
<div class="container-fluid m-0 p-0">
        
        <div class="d-flex pt-4 mt-3">
            <div class="align-items-start flex-column col-3 mb-3 bg-white ml-5" style="height: auto;">
                <div class="justiy-content-center text-center" style="border:3px solid var(--red);border-radius:10px">
                    <h4 class="p-3" style="background-color:var(--red);color:white">Categories</h4>
                    {% for c in categories %}
                        {% if not c.parent %}
                        <a href="{% url 'vimbiso:companies' c.id %}" style="text-decoration:none;color:black">{{c.name}}</a>
                        <hr>
                        {% endif %}
                    {% endfor %}
                    {% comment %} <p>Animals & Pets</p>
                    <p>Beauty & Well-being</p>
                    <p>Business Services</p>
                    <p>Construction & Manufacturing</p>
                    <p>Education & Training</p>
                    <p>Electronics & Technology</p>
                    <p>Events & Entertainment</p>
                    <p>Food, Beverages & Tobacco</p>
                    <p>Health & Medical</p>
                    <p>Hobbies & Crafts</p>
                    <p>Home & Garden</p>
                    <p>Home Services</p> {% endcomment %}
                </div>
            </div>

            <div class="align-items-end flex-column col-8 mb-3 bg-white ml-5" style="height: auto;">
                <div class="d-flex row p-3 border-bottom">
                    {% for c in categories %}
                        {% if not c.parent %}
                            <div class="d-flex justify-content-center col-12 align-items-center border-bottom">
                                <a href="{% url 'vimbiso:companies' c.id %}" style="text-decoration:none;color:black"><h4><strong>{{c.name}}</strong></h4></a>
                                
                            </div>
                        {% else %}
                                <div class="col-lg-4 col-sm-4 p-2">
                                    <a class="text-center btn" href="{% url 'vimbiso:companies' c.id %}" style="text-decoration:none;color:black;border:2px solid var(--red);border-radius:12px">{{c.name}}</a>
                                </div>
                        {% endif %}
                    {% endfor %}
                    
                    
                </div>
            </div>

        </div>

    </div>
{% endblock content %}