{% extends 'vimbiso/base.html' %}
{% load static %}

{% block title %}
<title>Vimbiso - Categories </title>
{% endblock title %}

{% block content %}
<style>
.body{
    background-color:#f2f2f5 !important;
}
</style>
<div class="container-fluid m-0 p-0">
        <h1 class="bg-white flex-row d-flex justify-content-center ml-0 mr-0 pt-2 pb-2"><strong>Find companies by category</strong></h1>
        
        <div class="d-flex">
            <div class="align-items-start flex-column col-3 mb-3 bg-white ml-5" style="height: auto;">
                <div class="justiy-content-center text-center">
                    <h4 class="mb-2 mt-2 pr-3"><strong>View Category</strong></h4>
                    <p>Animals & Pets</p>
                    <p>Beauty & Well-being</p>
                    <p>Business Services</p>
                    <p>Construction & Manufacturing</p>
                    <p>Education & Training</p>
                    <p>Electronics & Technology</p>
                    <p>Events & Entertainment</p>
                    <p>Food, Beverages & Tobacco</p>
                    <p>Health & Medical</p>
                    <p>Hobbies & Crafts</p>
                    <p>Home & Garden</p>
                    <p>Home Services</p>
                </div>
            </div>

            <div class="align-items-end flex-column col-8 mb-3 bg-white ml-5" style="height: auto;">
                <div class="d-flex row p-3 border-bottom">
                    <div class="d-flex justify-content-start col-4 align-items-center">
                        <div class="flex-column justify-content-center">
                            <h4><strong>Animals & Pets</strong></h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex row p-3 border-bottom">
                    <div class="d-flex justify-content-start col-4 align-items-center">
                        <div class="flex-column justify-content-center">
                            <h4><strong>Beauty & Well-being</strong></h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex row p-3 border-bottom">
                    <div class="d-flex justify-content-start col-4 align-items-center">
                        <div class="flex-column justify-content-center">
                            <h4><strong>Business Services</strong></h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex row p-3 border-bottom">
                    <div class="d-flex justify-content-start col-4 align-items-center">
                        <div class="flex-column justify-content-center">
                            <h4><strong>Construction & Manufacturing</strong></h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end col-4">
                        <div class="flex-column">
                            <p>Animals & Pets</p>
                            <p>Beauty & Well-being</p>
                            <p>Business Services</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock content %}