{% extends 'vimbiso/base.html' %}
{% load static %}
{% load companies %}


{% block title %}
<title>Vimbiso - Companies </title>
{% endblock title %}


{% block content %}
<style>
    .card-text{
        color:black;
        margin-bottom:0px;
    }
    .card-body{
        padding-top: 0.25rem !important;
    }
    .card-img {
        border-top-left-radius: 10px !important;
    }
    .card-title{
      margin-bottom:2px;
    }
    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2; 
      -webkit-box-orient: vertical;
    }
    .card{
      width: inherit !important;
      
    }
</style>
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pl-5 pr-5">
            <h2 class="col-12 d-flex justify-content-center p-3" style="color:var(--red);font-size: 2em;"><strong>Companies</strong></h1>
              <div class="col-sm-12 col-lg-3 col-md-3">
                    <h3 class="text-center"><b>Filter By</b></h3>
                      <form method="GET" action="{% url 'vimbiso:companies' id %}" id="search-form">
                        <div class="card mb-3" style="min-width: 16rem !important;border:3px solid var(--green);border-radius:10px">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center" style="background-color:var(--green);color:white">
                              <h5 class="m-0"><strong>No. of reviews</strong></h5>
                            </li>
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="numberofreviews" id="exampleRadios1" value="all" >
                                  <label class="form-check-label" for="exampleRadios1">
                                    All 
                                  </label>
                              </div>
                            </li>
                            
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="numberofreviews" id="exampleRadios1" value="5" checked>
                                  <label class="form-check-label" for="exampleRadios1">5+
                                  </label>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="numberofreviews" id="exampleRadios1" value="10" >
                                  <label class="form-check-label" for="exampleRadios1">10+
                                  </label>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="numberofreviews" id="exampleRadios1" value="25" >
                                  <label class="form-check-label" for="exampleRadios1">25+
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        
                        <div class="card mb-3" style="min-width: 16rem !important;border:3px solid var(--green);border-radius:10px">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center" style="background-color:var(--green);color:white">
                              <h5 class="m-0"><strong>Company status</strong></h5>
                            </li>
                            
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="1" checked>
                                  <label class="form-check-label" for="exampleRadios1">Claimed
                                  </label>
                                  <p>List companies that have a Vimbiso account but we have no records of them asking their customers for reviews.</p>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="2" >
                                  <label class="form-check-label" for="exampleRadios1">Unclaimed
                                  </label>
                                  <p>List companies that haven’t claimed their Vimbiso account</p>
                              </div>
                            </li>
                            
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="3" >
                                  <label class="form-check-label" for="exampleRadios1">Asking for reviews
                                  </label>
                                  <p>List companies that are regularly asking their customers for reviews — whether positive or negative.</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                        
                        <div class="card" style="min-width: 16rem !important;border:3px solid var(--green);border-radius:10px">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center" style="background-color:var(--green);color:white">
                              <h5 class="m-0"><strong>Time Period</strong></h5>
                            </li>
                            
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="timeperiod" id="exampleRadios1" value="1">
                                  <label class="form-check-label" for="exampleRadios1">1 month
                                  </label>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="timeperiod" id="exampleRadios1" value="2" >
                                  <label class="form-check-label" for="exampleRadios1">6 months
                                  </label>
                                  
                              </div>
                            </li>
                            
                            <li class="list-group-item">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="timeperiod" id="exampleRadios1" value="3" checked>
                                  <label class="form-check-label" for="exampleRadios1">12 months
                                  </label>
                              </div>
                            </li>

                          </ul>
                        </div>
                        
                      </form>
                </div>
                <div class="col-sm-12 col-lg-7 col-md-7 p-3 ">
                  <div class="d-flex justify-content-center m-2">
                    {% if companies.has_other_pages %}
                        <ul class="pagination">
                          {% if companies.has_previous %}
                            <li><a href="?page={{ companies.previous_page_number }}">&laquo;</a></li>
                          {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                          {% endif %}
                          {% for i in companies.paginator.page_range %}
                            {% if companies.number == i %}
                              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                              <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          {% endfor %}
                          {% if companies.has_next %}
                            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                          {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                          {% endif %}
                        </ul>
                    {% endif %}
                </div>  
                {% for i in companies %}
                {%  average i as number %}
                <a href="{% url 'vimbiso:company_description' i.id %}" class="d-flex justify-content-center" style="width: inherit;">
                    {% if number >= 4 %}
                        <div class="card mb-3 review-good" style="background-color:#e9e9ed;padding:0px !important">
                    {% elif number <= 4 and number >= 2.5 %}
                        <div class="card mb-3 review-medium" style="background-color:#e9e9ed;padding:0px !important">
                    {% else %}
                        <div class="card mb-3 review-bad" style="background-color:#e9e9ed;padding:0px !important">
                    {% endif %}
                   
                    <div class="row no-gutters border-bottom">
                      <div class="col-md-4">
                        {% if i.profile.image %}
                          <img src="{{i.profile.image.url}}" class="card-img" alt="..." width="150" height="240">
                        {% else %}
                          <img src="https://hesolutions.com.pk/wp-content/uploads/2019/01/picture-not-available.jpg" class="card-img" alt="..." width="150" height="240">
                        {% endif %}
                        
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title" style="color:#1b3d81">{{i.username}}</h3>
                          <p class="card-text">
                            {% for x in i.profile.category.all %}
                              {% if forloop.last %}
                              <i class="fas fa-chevron-circle-right metallic-green"></i> {{x}}
                              {% else %}
                              <i class="fas fa-chevron-circle-right metallic-green"></i> {{x}} -&nbsp
                              {% endif %}
                            {% endfor %}
                            </p>
                          <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{i.address}}</p>
                          <p class="card-text"><i class="fas fa-phone"></i> {{i.contact}} &nbsp <span class="pull-right"><i class="fas fa-envelope"></i> {{i.email}}</span></p>
                          <p class="card-text mb-2">Total Reviews: <strong>{% total_reviews i %}</strong>  &nbsp <span class="pull-right">VimbisoScore: <strong>{%  average i %}</strong></span><p>
                            <p class="text-center">
                            {% if number >= 4 %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-green"></span>
                                {% endfor %}
                            {% elif number <= 4 and number >= 2.5 %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-yellow"></span>
                                {% endfor %}
                            {% elif not number %}
                                    <p style="color:var(--red)">Not rated yet</p>
                            {% else %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-red"></span>
                                {% endfor %}
                            {% endif %}
                          </p>
                          <p class="card-text text">{{i.profile.description}}</p>
                          
                        </div>
                      </div>
                    </div>
                    <div style="width:25%;">
                      <div class="d-flex flex-row">
                      {% for tag in i.profile.tags.all %}
                        <p class="text-center btn bright-green-bg m-2" style="border-radius:12px;color:white">{{ tag.tag }}</p>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                </a>
                {% endfor %}
                
            </div>
                    
            
        </div>
    </div>
<script>
  $('input[type=radio][name=numberofreviews]').change(function() {
    if (this.value) {
        $('#search-form').submit();
    }
  });
  $('input[type=radio][name=status]').change(function() {
    if (this.value) {
        $('#search-form').submit();
    }
  });
  $('input[type=radio][name=timeperiod]').change(function() {
    if (this.value) {
        $('#search-form').submit();
    }
  });
</script>
{% endblock %}