{% extends 'vimbiso/base.html' %}
{% load static %}
{% load companies %}


{% block title %}
<title>Vimbiso - Companies </title>
{% endblock title %}


{% block content %}
<style>
    .card-text{
        color:black;
    }
    .card-body{
        padding-top: 0.25rem !important;
    }
    .card-img {
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }
</style>
    <div class="container-fluid">
        <div class="row justify-content-end mb-5">
            <h2 class="col-12 d-flex justify-content-center p-3" style="color:var(--red);font-size: 2em;"><strong>Companies</strong></h1>
                <div class="col-sm-12 col-lg-5 col-md-5 p-3 d-flex justify-content-center align-items-start">
                        <div class="card" style="min-width: 16rem !important;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                      All 
                                    </label>
                                </div>
                              </li>
                              
                              <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                         <a href="{% url 'vimbiso:filter' %}?numberofreviews=5">5+ </a>
                                    </label>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                      10+
                                    </label>
                                    {% if request.GET %}
                                        {% for key, value in request.GET.items %}
                                        <a href="{% url 'vimbiso:filter' %}?{{key}}={{value}}&timeperiod=1">5+ </a>
                                        {% endfor %}
                                    {% endif %}
                                    
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                      25+
                                    </label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        
                        
                        
                </div>
                <div class="col-sm-12 col-lg-7 col-md-7 p-3 ">
                {% for i in companies %}
                {%  average i as number %}
                <a href="{% url 'vimbiso:company_description' i.id %}" class="d-flex justify-content-center">
                    {% if number >= 4 %}
                        <div class="card mb-3 review-good" style="width: 540px;background-color:#e9e9ed;height: 219px;padding:0px !important">
                    {% elif number <= 4 and number >= 2.5 %}
                        <div class="card mb-3 review-medium" style="width: 540px;background-color:#e9e9ed;height: 219px;padding:0px !important">
                    {% else %}
                        <div class="card mb-3 review-bad" style="width: 540px;background-color:#e9e9ed;height: 219px;padding:0px !important">
                    {% endif %}
                   
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{{i.profile.image.url}}" class="card-img" alt="..." width="150" height="209">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="color:#1b3d81">{{i.username}}</h5>
                          <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{i.address}}</p>
                          <p class="card-text"><i class="fas fa-phone"></i> {{i.contact}}</p>
                          <p class="card-text mb-2">VimbisoScore: {%  average i %}<br>
                            
                            {% if number >= 4 %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-green"></span>
                                {% endfor %}
                            {% elif number <= 4 and number >= 2.5 %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-yellow"></span>
                                {% endfor %}
                            {% elif not number %}
                                    <p style="color:var(--red)">Not rated yet</p>
                            {% else %}
                                {% for x in number|times %}
                                    <span class="fa fa-star metallic-red"></span>
                                {% endfor %}
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                {% endfor %}
            </div>
                    
            
        </div>
    </div>
{% endblock %}