{% extends 'vimbiso/base.html' %}
{% load static %}

{% block title %}
    <title>Vimbiso - Home</title>
{% endblock title %}

{% block content %}
<style>
    .category-block{
        padding: 24px 18px;
        min-width: 274px;
        min-height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: all 0.2s ease;
    }
</style>
<div class="container-fluid">
        <div class="row cover p-5">
            <div class="col-6 p-4 ml-5">
                <span class="cover-text"><b>YOUR REVIEW MATTERS</b></span>
                <br>
                <span class="cover-text-2"><span class="metallic-green">Read reviews.</span> <span style="color:#d0a522;">Write reviews.</span> <span class="metallic-red">Find companies.</span></span>
                <br>
            </div>
            <div class="col-6 cover-search ml-5">
                <div id="search">
                    <form action="{% url 'vimbiso:companies' 0 %}" method="POST">
                        {% csrf_token %}
                        <fieldset class="clearfix mb-0">
                            <input type="search" name="search" placeholder="Company or category">
                            <input type="submit" value="Search" class="button float-right bright-red-bg">
                        </fieldset>
                    </form>
                </div>
            </div> 
        </div>
        <section class="row pl-5 mt-4">
                <div class="col-11">
                    <span class="section-title float-left">Explore categories</span>
                    <a class="btn float-right text-white border-0 bright-green-bg" href="{% url 'vimbiso:categories' %}">View All</a>
                </div><br>
        </section>
        <div class="row pl-5 mb-4 mt-2 d-flex align-items-center justify-content-start ml-3" style="width:inherit;max-height:350px">
            {% for i in categories %}
                <!-- UIkit CARD -->
                {% if categories %}
                    <button class="btn btn-default  btn-category m-1 category-block">{{i.name}}</button>

                {% else %}
                <h3>No Categories found!<h3>
                {% endif %}                           
            {% endfor %}
        </div>
        <h2 class="text-center">Recent Reviews</h2>
        <div class="slider">
            <div class="slide-track">
                {% if reviews %}
                    {% for r in reviews %}
                    <div class="slide">
                        {% if r.ratings > 4 %}
                            <div  class="reviewcard review-good">
                        {% elif r.ratings < 4 and r.ratings > 2.5 %}
                            <div  class="reviewcard review-medium">
                        {% else %}
                            <div  class="reviewcard review-bad">
                        {% endif %}
                        <div class="propicbox">
                            <img src="https://w7.pngwing.com/pngs/419/473/png-transparent-computer-icons-user-profile-login-user-heroes-sphere-black-thumbnail.png" class="propic">
                        </div>
                        <div class="reviewerbox">
                            <span style="font-size:px">{{r.name}}
                                {% if r.company.profile.verified %}
                                <i class="fas fa-check-circle text-primary"></i>
                                {% endif %}
                            </span>
                            <div class="flex-row">
                            {% if r.ratings > 4 %}
                                {% for i in r.get_ratings %}
                                    <span class="fa fa-star metallic-green"></span>
                                {% endfor %}
                            {% elif r.ratings < 4 and r.ratings > 2.5 %}
                                {% for i in r.get_ratings %}
                                    <span class="fa fa-star metallic-yellow"></span>
                                {% endfor %}
                            {% else %}
                                {% for i in r.get_ratings %}
                                    <span class="fa fa-star metallic-red"></span>
                                {% endfor %}
                            {% endif %}
                            </div>
                            <span style="color:var(--blue);font-size:14px !important">{{r.created_at|date:"D d, M, Y"}}  <i class="fas fa-map-marker-alt text-success"></i> {{r.branch_location}}</span>
                        </div>
                        <p class="review p-2">{{r.review}}</p>
                        <p class="mb-0 mt-3"><i class="fas fa-building"></i> {{r.company.username}}</p>
                        <p class="bottomText mt-0 mb-0">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                    </div>
                    {% endfor %}
                {% else %}
            {% endif %}
            </div>
        </div>
        
    </div>
    <!-- Review messages -->
    <script>
        '{% if messages %}'
            '{% if "!" in messages %}'
                '{% for message in messages %}'
                    alert({{ message }});
                '{% endfor %}'
            '{% endif %}'
        '{% endif %}'
    </script>
{% endblock content %}