{% extends 'vimbiso/base.html' %}
{% load static %}

{% block title %}
    <title>Vimbiso - Home</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
        <div class="row cover p-5">
            <div class="col-6 p-4 ml-5">
                <span class="cover-text"><b>YOUR REVIEW MATTERS</b></span>
                <br>
                <span class="cover-text-2"><span class="metallic-green">Read reviews.</span> <span style="color:#d0a522;">Write reviews.</span> <span class="metallic-red">Find companies.</span></span>
                <br>
            </div>
            <div class="col-6 cover-search ml-5">
                <div id="search">
                    <form action="javascript:void(0);" method="GET">
                        <fieldset class="clearfix mb-0">

                            <input type="search" name="search" placeholder="Company or category">
                            <input type="submit" value="Search" class="button float-right metallic-red-bg">

                        </fieldset>
                    </form>
                </div>
            </div> 
        </div>
        <section class="row pl-5 mt-4">
                <div class="col-11">
                    <span class="section-title float-left">Explore categories</span>
                    <a class="btn float-right text-white metallic-red-bg" href="{% url 'vimbiso:categories' %}">View All</a>
                </div><br>
        </section>
        <div class="row pl-5 mb-4" style="width:inherit">
            {% for i in categories %}
                <!-- UIkit CARD -->
                {% if categories %}
                    <button class="btn btn-default col-auto p-3 btn-category">{{i.name}}</button>

                {% else %}
                <h3>No Categories found!<h3>
                {% endif %}                           
            {% endfor %}
        </div>
        <h1 class="text-center">Recent Reviews</h1>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-bad">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia <i class="fas fa-check-circle"></i></a></h1>
                            <span class="fa fa-star checked metallic-red"></span>
                            <span class="fa fa-star checked metallic-red"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-medium">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia <i class="fas fa-check-circle"></i></a></h1>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet,tamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia <i class="fas fa-check-circle"></i></a></h1>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, Enim quas his no, mea ferri audire rationibus ei.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-medium">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <span class="fa fa-star checked metallic-yellow"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-bad">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <span class="fa fa-star checked metallic-green"></span>
                            <p class="reviewdate mt-2">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-bad">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
                <div class="slide">
                    <div class="reviewcard review-good">
                        <div class="propicbox"><img src="https://preview.checchiadesign.com/code/reviewcard/img/foto.jpg" class="propic"></div>
                        <div class="reviewerbox">
                            <h1><a href="https://www.facebook.com/checchiadesign/" class="reviewername" target="_blank">Simone Checchia</a></h1>
                            <p class="reviewdate">30/10/2020</p>
                        </div>
                        <p class="review">Lorem ipsum dolor sit amet, cu pertinax nominati sea, id iriure utamur interpretaris sea, vix ne latine aliquam complectitur. Enim quas his no, mea ferri audire rationibus ei.</p>
                        <p class="bottomText">review on WhatsApp <a href="#" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"></i></a></p>   
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}