{% extends 'vimbiso/base.html' %}
{% load static %}

{% block title %}
<title>Vimbiso - Payment Success </title>
{% endblock title %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row align-items-center d-flex justify-content-center">
            <h4 class="p-5 col-12 text-center metallic-green">Thank you for subscribing with vimbiso</h4>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="w-50">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}